<div class="page-header">
  <h1>Picture #<%= @picture.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Source</dt>
  <dd><img src="<%= @picture.source %>" width="480"></dd>

  <dt>Caption</dt>
  <dd><%= @picture.caption %></dd>

</dl>

<ul class="media-list">
  <% @picture.comments.each do |comment| %>
    <li class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="https://graph.facebook.com/todd.starcevich/picture" alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Todd</h4>
        <%= comment.content %>
      </div>
    </li>
  <% end %>
</ul>



<form action="/create_comment" class="form-horizontal">
  <!-- Label and input for content -->
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">
      Content
    </label>
    <div class="col-sm-10">
      <textarea id="content" name="content" placeholder="Content" class="form-control" rows="3"></textarea>
    </div>
  </div>

  <!-- Label and input for picture_id -->
  <div class="form-group">
    <div class="col-sm-10">
      <input type="hidden" id="picture_id" name="picture_id" placeholder="Picture" class="form-control" value="<%= @picture.id %>">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Comment" class="btn btn-primary">
    </div>
  </div>
</form>
